#career-section {
    margin-top: 3.75rem;
}

#career-section h2 {
    margin-bottom: 1rem;
}

#career-section article {
    margin-bottom: 1rem;
}

#career-section a {
    color: white;
    text-decoration: underline;
}

#career-section span {
    color: #8f9ba8;
}